<style>
.ltn__banner-area .ltn__banner-item .ltn__banner-info {
    background-color: rgb(0,0,0,0.4);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.product-addtocart-sticky button.button.buynow-btn {
    color: #ffffff;
    background: #16a618;
    height: 40px;
    line-height: 5px;
    padding: 0 20px;
}
@media(max-width:767px){
    .ltn__feature-item-8 .ltn__feature-icon {
        width: 50px !important;
        min-width: 50px !important;
        margin-right: 5px;
    }
    .ltn__feature-item-8 .ltn__feature-icon img {
        width: auto;
        height: 35px !important;
        aspect-ratio: 1/1;
    }
    .ltn__feature-area[data-section="serviceSection"] .ltn__feature-item-box-wrap-2 {
        justify-content: left !important;
    }
}
@media(min-width:767.9px) and (max-width:1200px){
    .ltn__feature-area[data-section="serviceSection"] .ltn__feature-item-box-wrap-2 .ltn__feature-item-8 {
        max-width: 400px;
        width: 100%;
    }
}
.Content__FreeLinkContainer-sc-1vql645-2.piOMz {
    display: none;
}
html:not(.nojs):not(.no-js) .swatch.clearfix, html:not(.nojs):not(.no-js) .swatch_options, html:not(.nojs):not(.no-js) form[action="/cart/add"] .product__variants, html:not(.nojs):not(.no-js) form[action="/cart/add"] .form__row div.selector-wrapper, html:not(.nojs):not(.no-js) form .swatch.clearfix {
    opacity: 1;
    max-height: unset;
}
</style>
{% comment %}
<script type="lazyload_int" data-src="https://static.elfsight.com/platform/platform.js" data-use-service-core></script>
<div class="elfsight-app-7edf1548-0a06-4d33-b1a0-d834c43548ca"></div>
{% endcomment %}