<div id="shopify-block-18228966181090706294" class="shopify-block shopify-app-block">
  <script data-w3-type="module" type="lazyload_int" data-src="https://cdn.shopify.com/extensions/8e203556-61b8-4058-b004-1db3a13d158d/0.24.0/assets/lb-upsell-components.esm.js"></script>
</div>

<div id="shopify-block-6610233760104865948" class="shopify-block shopify-app-block">
<script>
  window.pushowlSubdomain = "bixc.myshopify.com".split(".")[0]
  window.isPushowlThemeAppExtentionEnabled = true
  window.pushowlGUID = "80bbbc9b-8da4-41bc-be00-2f207da66ad0"
  window.pushowlEnvironment = "production"
</script>
</div>
<div id="shopify-block-14739163758312353500" class="shopify-block shopify-app-block"></div>